
body {
    background: white;
    color: black;
    font-family: 'Noto Sans KR', sans-serif !important;

}
a, a:link {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}


/* === header === */
header {
    position: relative;
}
.header-wrap {
    height: 100px;
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background: white;
}
.logo img{
    width: 230px;
}
.login {
    display: flex;
    margin: 0 0 40px 0;
    font-size: 14px;
    column-gap: 15px;
    font-size: .9rem;
}
.gnb-wrap {
    text-align: center;
}
#gnb {
    width: 100%;
    display: flex;
    column-gap: 2.5rem;
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
}
#gnb > li {
    position: relative;
    width: 120px;
}
#gnb > li > a {
    display: block;
    text-align: center;
}
.main-menu {
    padding-bottom: 20px;

}
.on {
    color: #2d93fc !important;
    border-bottom: 2px solid #2d93fc;
    transition: all ease-in-out .3s;
}
.sub {
    font-weight: bold;
}
.lnb {
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
}
.lnb > li {
    display: inline-block;
    line-height: 2rem;  
}
.subMenuBg {
    display: none;
    position: absolute;
    top: 100px; 
    left: 0;
    width: 100%; 
    height: 150px;
    background: white;
}

/* === footer === */
footer {
    width: 100%;
    height: 200px;
    background: #333;
}
.footer-wrap {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    color: #cacaca;
}
.footer-logo img{
    width: 230px;
}
.footer-menu {
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-menu ul{
    display: flex;
    column-gap: 20px;
}
.info {
    font-size: .8rem;
    line-height: 1.2rem;
}