.menu_bar {
    display: none;
}
.menu_x {
    display: none;
}
.main1 {
    width: 100%;
    height: 1000px;
    position: relative;
    background: url(../images/main-back1.png) no-repeat center/cover;
    padding-top: 100px;
}
.main1-text {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 15rem;
    justify-content: center;
}
.main1-text h2{  
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
.main1-text p {
    font-size: 40px;
}
.main2 {
    width: 100%;
    height: 1000px;
    background: url(../images/main-back2.png) no-repeat center/cover;
}
.main2-wrap {
    padding: 20rem 3rem 0 70%;
}
.main2-title {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 2rem;
}
.main2-text {
    font-size: 30px;
}
.main2-button{
    text-align: right;
    padding-top: 12rem;
}
.main2-button button{
    border: 0;
    background: #01b7f4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.main2-button button:hover {
    background: #0371de;
    transition: all .2s ease-in-out;
}
.main3{
    width: 100%;
    background: #F5F5F5;

}
.main3-bg {
    position: relative;
    padding-top: 1rem;
}
.main3-text{
    position: absolute;
    padding: 15em 0 0 27rem;
}
.main3-text h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.main3-text p {
    font-size: 30px;
}
.books-wrap{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 11rem 30px 3rem 30px;
}
.books-wrap h3 {
    text-align: left;
    font-size: 30px;
    margin: 3rem 11%;
    padding: 0 0 0 15px;
    border-left: 6px solid #0065ca;
}
.main-books {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-books img{
    margin: 0 20px;
}
.main-books p {
    margin-top: 25px;
}
.main-books img:hover  {
    transform : scale(1.1);
    transition: all .3s ease-out;
}
.main-button button{
    margin: 9rem 0 6rem 0;
    border: 0;
    background: #333;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
}
.main-button button:hover {
    background: rgb(115, 115, 115);
    transition: all .2s ease-out;
}

/* media */
@media screen and (max-width: 425px){
    .header-wrap {
        width: 425px;
    }
    .logo-wrap {
        width: 100%;
    }
    .logo{
        position: absolute;
        transform: translate(-50% , -50%);
        top: 50%;
        left: 50%; 
        margin: 0 auto;
    }
    .logo img {
        width: 150px;
    }
    #sidePannel {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 2000;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
    }
    .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 200vh;
        flex-direction: column;
        z-index: 8000;
        background-color: #333;
        padding: 100px 0 0 0;
    }
    #gnb {
        display: block;
        border-top: 1px solid white;
        width: 100%;
        padding-top: 20px;
    }
    #gnb li{
        width: 100%;
        height: 50px;
        color: white;
        font-size: 15px;
        z-index: 8000;
        padding-left: 2rem;
        position: relative;
    }
    #gnb > li > a {
        text-align: left;
        line-height: 50px;
    }
    .lnb > li{
        display: none;
    }
    .on {
        color: #2d93fc;
        border: 0;
    }
    .menu_bar{
        display: block;
        position: absolute;
        color: #333;
        right: 10%;
        font-size: 1.5rem;
        top: 32%;
    }
    .menu_x{
        display: none;
        position: absolute;
        right: 5%;
        top: 10%;
        color: white;
        font-size: 1.5rem;
        z-index: 9999;
    }
    .login {
        display: none;
        z-index: 9000;
        color: white;
        width: 40%;
        padding-top: 100px;
        right: 0;
    }
    .login a {
        margin: 0 5px;
    }
    .main-wrap{
        width: 100%;
    }
    .main1-text {
        margin: 0 auto;
        padding: 1rem 0 0 15%;
        width: 200px;
    }
    .main1 {
        width: 100%;
        height: 224px;
    }
    .main1-text h2 {
        font-size: 20px;
    }
    .main1-text p {
        font-size: 16px;
    }
    .main2 {
        width: 425px;
        height: 300px;
    }
    .main2-wrap {
        width: 425px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .main2-title {
        font-size: 16px;
        padding-left: 280px;
    }
    .main2-text{
        margin-right: 10px;
        font-size: 12px;
        padding-left: 280px;
    }
    .main2-button {
        padding-top: 90px;
        margin-right: 30px;
    }
    .main2-button button{
        font-size: 10px;
        
    }
    .main-bg img{
        width: 100px;
    }
    .main3 {
        width: 100%;
    }
    .main3-text {
        width: 300px;
        padding: 25px 115px;
    }
    .main3-text h3{
        font-size: 20px;
    }
    .main3-text p{
        font-size: 10px;
    }
    .books-wrap {
        width: 100%;
        padding: 20px 0;
    }
    .books-wrap h3 {
        font-size: 16px;
        margin: 20px 0 20px 10px;
    }
    .books-wrap img{
        /* display: none; */
        width: 100px;
    }
    .main-books p {
        font-size: 10px;
    }
    .main-button button{
        margin : 50px 0;
    }
    .footer-wrap{
        width: 100%;
    }
    .info-wrap {
        width: 300px;
        text-align: center;
    }
    .footer-logo {
        display: none;
    }
    .footer-menu {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .info {
        font-size: 11px;
    }
}
